{% extends 'adminhsi/base.html' %}

{% load static %}

{% block title %}Admin HSI | Tambah Soal{% endblock title %}

{% block user_fullname %}{{ user.first_name}} {{ user.last_name }}{% endblock %}

{% block main-content %}
<!-- CONTENT -->
<div class="main-content">
  <header>
    <div class="header-title-wrapper">
      <label for="menu-toggle">
        <i class="las la-bars"></i>
      </label>
      <div class="header-title">
        <h1>Tambah Soal</h1>
        <p>Halaman Tambah Soal Evaluasi Harian HSI</p>
      </div>
    </div>
  </header>

  <main>
    <section>
      <div class="card card-tambah">
        <div class="title">Tambah Soal</div>
        <form action="#" method="post">
          {% csrf_token %}
          <div class="form-items">
            <div class="question">
              <label for="soal" class="label-title">Pertanyaan</label>
              <textarea name="soal" id="soal" cols="30" rows="10" placeholder="Masukkan soal" required></textarea>
            </div>

            <div class="options">
              <div class="option">
                <label for="pilihan_a" class="label-title">Pilihan A</label>
                <input type="text" name="pilihan_a" id="pilihan_a" placeholder="Masukkan Pilihan A" required>
              </div>
              <div class="option">
                <label for="pilihan_b" class="label-title">Pilihan B</label>
                <input type="text" name="pilihan_b" id="pilihan_b" placeholder="Masukkan Pilihan B" required>
              </div>
              <div class="option">
                <label for="pilihan_c" class="label-title">Pilihan C</label>
                <input type="text" name="pilihan_c" id="pilihan_c" placeholder="Masukkan Pilihan C" required>
              </div>
              <div class="option">
                <label for="pilihan_d" class="label-title">Pilihan D</label>
                <input type="text" name="pilihan_d" id="pilihan_d" placeholder="Masukkan Pilihan D" required>
              </div>
            </div>

            <div class="answer-key">
              <label class="label-title">Kunci Jawaban</label>
              <div class="key">
                <input type="radio" name="kunci_jawaban" id="kj_A" value="A" required> 
                  <label for="kj_A">Pilihan A</label>
                <input type="radio" name="kunci_jawaban" id="kj_B" value="B" required>
                  <label for="kj_B">Pilihan B</label>
                <input type="radio" name="kunci_jawaban" id="kj_C" value="C" required>
                  <label for="kj_C">Pilihan C</label>
                <input type="radio" name="kunci_jawaban" id="kj_D" value="D" required>
                  <label for="kj_D">Pilihan D</label>
              </div>
            </div>
          </div>

          <div class="form-buttons">
            <button type="submit" class="button-tambah">Tambah Soal</button>
            <a class="button-kembali" href="{% url 'soal_evaluasi' id %}">Kembali</a>
          </div>
        </form>
      </div>
    </section>
  </main>
</div>
<!-- AKHIR CONTENT -->
{% endblock main-content %}