.card.card-pilih-evaluasi {
  padding: 0 !important;
}

.evaluasi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.evaluasi .card-title {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  color: var(--title-text);
  font-weight: 600;
  background-color: var(--main-accent);
  padding: 0.6rem 1.5rem;
  border: 1px solid rgba(128, 148, 184, 0.2);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.evaluasi .card-daftar-evaluasi {
  display: flex;
  flex-direction: column;
}

.evaluasi .card-daftar-evaluasi .card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.evaluasi .card-daftar-evaluasi .card-body {
  padding: 0.7rem 1.5rem;
  width: 100%;
  border: 1px solid rgba(128, 148, 184, 0.2);
  color: var(--main-text);
  transition: 0.1s;
}

.evaluasi .card-daftar-evaluasi .card-body:hover {
  background-color: hsla(206, 67%, 80%, 0.4);
}

.evaluasi .card-daftar-evaluasi .card-body:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.evaluasi .card-daftar-evaluasi .card-body:nth-child(even) {
  background-color: #f2f2f280;
  transition: 0.1s;
}

.evaluasi .card-daftar-evaluasi .card-body:nth-child(even):hover {
  background-color: hsla(206, 67%, 80%, 0.4);
}

.evaluasi .btn-list {
  width: 160px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #1998e7;
}

.evaluasi .btn-list a {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  padding: 0.3rem 1rem;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: #fbfefd;
  font-weight: 600;
  text-align: center;
}

.evaluasi .btn-list i {
  font-size: 1.2rem;
  display: inline-block;
}
