.card-konfirmasi {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.card-konfirmasi .judul h3 {
  text-transform: uppercase;
  color: var(--title-text);
  font-size: 2.5rem;
}

.card-konfirmasi .items {
  display: float;
  flex-direction: column;
  margin: 1.5rem 0;
}

.card-konfirmasi .items p {
  color: var(--main-text);
  font-size: 1.1rem;
}

.card-konfirmasi .items p:nth-child(2) {
  display: inline;
  margin-right: .5rem;
}

.card-konfirmasi .items li {
  display: inline;
}

.card-konfirmasi .button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-konfirmasi a {
  background: linear-gradient(100deg, #2f5eeb, #5c82c2);;
  width: 100%;
  margin-top: 1rem;
  padding: .8rem;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
  background: var(--btn-tambah);
  color: #fff;
  margin-bottom: .3rem;
}

@media screen and (max-width: 1224px) {
  .card-konfirmasi {
    height: 40vh;
    padding: 0 .5rem;
  }
}

@media screen and (max-width: 500px) {
  .card-konfirmasi {
    height: 50vh;
  }
  .card-konfirmasi .judul h3 {
    font-size: 1.8rem;
  }

  .card-konfirmasi .items p {
    font-size: 1.1rem;
  }

  .card-konfirmasi a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 360px) {
  .card-konfirmasi .judul h3 {
    font-size: 1.7rem;
  }

  .card-konfirmasi .items p {
    font-size: 1.1rem;
  }
}